*{
	margin:  0;
	padding: 0;
  
  }
  
  .header{
	display: flex;
	padding-top: 20px;
	margin-left: 250px;
	align-items: center;
	justify-content: center;
	margin-top:-10px;
  }

  nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
  }
  .nav-links{
	flex:1;
	text-align: center;
  }
  .nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
  }
  .nav-links ul li a{
	color: #000000;
	text-decoration: none;
	font-family:  "Times New Roman", Times, serif;
	font-size: 20px;
  }
  .nav-links ul li:hover{
	  background-color:rgba(20, 163, 213, 0.6);
  }
  
  /*--body of the home page--*/

  .areas{
	margin-top:40px;
	margin-bottom:20px;
	text-align: center;
  }
  .cities h3{
	font-size: 20px;
  }
  .cities{
	margin-left: 70px;
	margin-top: 90px;
	margin-bottom: 30px;
  }
  .city{
	margin-top:30px;
	margin-bottom:auto;
  }
  .city-4{
	margin-top:70px;
	margin-bottom:auto;
  }
	.city-7{
	margin-top:90px;
	margin-bottom:auto;
  }
  .city-2, .city-5{
	margin-left: 450px;
	margin-top:-552px;
	margin-bottom:auto;
  }
  .city-3{
	margin-left: 900px;
	margin-top:-552px;
	margin-bottom:auto;
  }
  .city-6{
	margin-left: 900px;
	margin-top:-497px;
	margin-bottom:auto;
  }
  .city_img {
	margin-top:0 auto;
  }
  .paragraphs{
	
	padding-bottom: 20px;
	width: 329px;
  	padding: 10px;
  	border: 1px solid black;
  }
  .paragraphs h3{
	text-align: center;
  }
  .paragraphs p{
	text-align: justify;
  }
  
  /*--bottom of the home page--*/
  .bottom{
	text-align: center;
	background-color:rgba(20, 163, 213, 0.6);
  }
  .footer{
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
  
	color: black;
	text-align: center;
  }
  
