*{
	margin:  0;
	padding: 0;
  
  }
  
  .header{
	display: flex;
	padding-top: 20px;
	margin-left: 250px;
	align-items: center;
	justify-content: center;
	margin-top:-10px;
  }

  nav{
	display: flex;
	padding: 2% 6%;
	justify-content: space-between;
	align-items: center;
  }
  .nav-links{
	flex:1;
	text-align: center;
  }
  .nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 8px 12px;
	position: relative;
  }
  .nav-links ul li a{
	color: #000000;
	text-decoration: none;
	font-family:  "Times New Roman", Times, serif;
	font-size: 20px;
  }
  .nav-links ul li:hover{
	  background-color:rgba(20, 163, 213, 0.6);
  }
  
  /*--body of the university page--*/
  
  .head{
	text-align: center;
	margin-top:40px;
	margin-bottom: 40px;
  }
  
  /*--Information of the universities --*/
  .university{
	display: flex;
	align-items: center;
	justify-content: left;
	margin-left: 120px;
	margin-bottom: 90px;
  }
  .paragraphs{
	padding-left: 30px;
	margin-left: 120px;
	padding-bottom: 20px;
	width: 529px;
  	padding: 10px;
  	border: 1px solid black;
	text-align: justify;
  }
  .paragraphs h3{
	text-align: center;
	padding-bottom: 20px;
  } 
  
  /*--bottom of the home page--*/
  .bottom{
	text-align: center;
	background-color:rgba(20, 163, 213, 0.6);
  }
  
  .footer{
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
  
	color: black;
	text-align: center;
  }
  
